$text__c: #333;

$link__c: #148FCC;
$link__c_hover: #45B5ED;

$accent__c: #333;
$accent__c_hover: #E8E8E8;
$accent__text__c: #FFF;

$footer__text__c: #999;

$font__html: 90%;
$font__title: 2.2rem;
$font__subtitle: 1.25rem;
$font__footer: 0.85rem;

$line-height: 1.5em;

html, body {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: $font__html;
}

body {
  color: $text__c;
  line-height: $line-height;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

a {
  color: $link__c;
  text-decoration: none;
  border-bottom: 1px solid $link__c;
  &:hover {
    color: $link__c_hover;
    border-color: $link__c_hover;
  }
}

.wrapper {
  width: 100%;
}

.page {
  max-width: 960px;
  margin: 0px auto;
  padding: 120px 0px 80px 80px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  padding: 0px 20px;
}

.title__title {
  font-size: $font__title;
  line-height: $line-height;
}

.title__subtitle {
  font-size: $font__subtitle;
  line-height: $line-height;
}

.nav {
  margin-top: 40px;
  padding: 0px 20px;
  display: flex;
}

.nav__button {
  color: $accent__c;
  border: 2px solid $accent__c;
  padding: 4px 8px;
  cursor: pointer;
  &:not(:first-child) {
    border-left: none;
  }
  &:hover {
    color: $accent__c;
    border-color: $accent__c;
    background-color: $accent__c_hover;
  }
}

.nav__button_selected {
  color: $accent__text__c;
  background-color: $accent__c;
  cursor: default;
  &:hover {
    color: $accent__text__c;
    background-color: $accent__c;
    border-color: $accent__c;
  }
}

.lang {
  width: 160px;
  flex-shrink: 0;
}

.feed-block {
  display: flex;
}

.feed-block__projects {
  min-width: 1px;
  width: 100%;
}

.feed-block__year-container {
  margin-top: 28px;
  width: 160px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.feed-block__year {
  background-color: $accent__c;
  border: 2px solid $accent__c;
  color: $accent__text__c;
  padding: 4px 8px;
}

.feed-block__project {
  margin-top: 28px;
}

.cv {
  margin: 28px 20px 0px 20px;
}

.project {
  padding: 0px 20px;
  &.project_featured_true {
    padding: 12px 18px;
    border: 2px solid $accent__c;
  }
}

.project__name-wrapper {
  display: flex;
}

.project__name_featured_true {
  font-size: $font__subtitle;
  line-height: $line-height;
  margin-bottom: 4px;
}

.footer {
  margin: 40px 20px 0px 20px;
  width: 100%;
  font-size: $font__footer;
  line-height: $line-height;
}

.footer__years {
  color: $footer__text__c;
}

@media (max-width: 1200px) {
  .page {
    padding-right: 40px;
  }
  .feed-block__year-container {
    width: 80px;
  }
}

@media (max-width: 960px) {
  .page {
    padding: 40px 20px;
  }
  .feed-block {
    flex-direction: column-reverse;
  }
  .feed-block__year-container {
    flex-direction: row;
    margin-left: 20px;
  }
  .lang {
    display: none;
  }
}